{{#partial "content"}}

        <div class="hero-desc">
            <h3>Be your own Hero</h3>
            <a href="/hero-form"><button class="btn btn-info">Create Hero</button></a>
        </div>
{{/partial}}
{{> layout.hbs}}