{{#partial "content"}}

        <div class="success">

            <h3 style="color: green;">Success <br>  <span style="color: black;">{{ item }} </span> <br> Has been created <br>{{sqId}}</h3>

            <a class="btn btn-primary" href="/hero">View Heroes</a>
            <a class="btn btn-primary" href="/squad">View Squads</a>


        </div>
{{/partial}}
{{> layout.hbs}}